{#
/**
 * PH34 サンプル3　マスタテーブル管理DAO src 03/18　　
 * error画面
 * 
 * @author chen rongchao
 *  * file name=error
 * directory=/ph34/sharereports/public/
 */
#}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Error |  sharereports sample</title>
</head>
<body>
    <h1>Error</h1>
    <section>
        <h2>申し訳ございません。障害が発生しました。</h2>
        <p>
            以下のメッセージをご確認ください。<br>
            {{errorMsg}}
        </p>
    </section>
    <p><a href="/ph34/sharereports/public/reports/list">TOPへ戻る</a></p>
</body>
</html>